<!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title">ABOUT MARGALLA TRAVELS</h5>
                    <p>We are committed to offering travel services of the highest quality, combining our energy and enthusiasm, with our years of experience. Our greatest satisfaction comes in serving large numbers of satisfied clients who have experienced the joys and inspiration of travel. </p>

                </div>
                <!--/.First column-->
               <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title">Margalla Travel & Tours</h5>
                    <ul>
                        <li>Main Branch:
                          <p>Office No.F-7, 1st Floor, Rizwan Arcade, Adam jee Road,Saddar, Rawalpindi
                          </p>
                        </li>
                        <li>Bani Gala Branch:
                           <p>office#3, Hammad Plaza, Jinnah Road, Bani-Gala, Islamabad</p>
                        </li>
                        <li>Tel(UAN): +925184 888 89</li>
                        
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-3">
                    <h5 class="title">Our Office is open 7 days a week:</h5>
                    <ul>
                        <li>Monday - Friday 8am - 11pm</li>
                        <li>Saturday - 10am - 11pm</li>
                        <li>Sunday - 12pm - 11pm </li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-3">
                    <h5 class="title">Margalla Travel and Tours"</h5>
                    <ul>
                        <li>Cheif Executive Officer,</li>
                        <li>Col (R) Abdul Qayum</li>
                        
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4>Travel from country to country with us</h4>
            <ul>
                <li>
                    <h5>Checkout our packages</h5></li>
                <li><a target="" href="#/packages" class="btn btn-danger">Packages</a></li>
                
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright: <a href="#/home"> MargallaTravels.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
