



 <div class="animated fadeInUp">   
 <div ng-repeat="x in myData">
	<h1>{{x.cardName}}</h1>
 </div>    
    </div>

   <!--  <button ng-click="limited(3)">3</button>
    <button ng-click="limited(6)">6</button>
    <button ng-click="limited(9)">9</button>

    {{arr}}
    <input ng-model="vv" placeholder="Enter rating"  >
    <button ng-click="func(vv)">Push</button> -->
<!-- 
<div ng-repeat="user in myData"> 
 <input ng-model="user.title" ng-change="myData.$save(user)"> 
 <input ng-model="user.rating"> 
 <input ng-model="user.genre"> 
 <input ng-model="user.price"> 

<button ng-click="myData.$remove(user)"> Delete </button>

</div>
 <form ng-submit="saveFire()">
                <input ng-model="newTitle" placeholder="new item name">
                <button type="submit">Add new product</button> 
    </form>  
<br>

     <input type="" name="" placeholder="Enter rating" ng-model="maxVal">
    <button ng-click="checkRating">Check Rating</button> -->
	 
<!-- 	<table class="table table-striped table-bordered " >
	    <tr>
	    	<th ng-click="order('+title')" ng-dblclick="order('-title')">Title</th>
	    	<th ng-click="order('genre')">Genre</th>
	    	<th ng-click="order('price')">Price</th>
	    	<th ng-click="order('rating')">Rating</th>
	    </tr>
		<tr ng-repeat="x in myData | orderBy: myOrder | filter: query" >
	      <td>{{x.cardName | uppercase}}</td>
	       <td>{{x.genre}}</td>
	      <td>{{x.price + y.price | currency}}</td>
	      <td>{{x.rating| number}}</td> 	
		</tr>
	</table>
 -->

	